<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Project Lineage Remix Open Source
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.kusuma.egg"
    android:versionCode="1"
    android:versionName="1.0">
    <application>
        <activity 
            android:name="com.android.internal.app.PlatLogoActivity"
            android:theme="@style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
</manifest>
