<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Kusuma
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kusumaos.egg"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity 
            android:name=".PlatLogoActivity"
            android:theme="@style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name=".MLandActivity"
                  android:theme="@android:style/Theme.Material.NoActionBar"
                  android:exported="true"
                  android:icon="@drawable/icon"
                  android:label="@string/mland"
                  android:hardwareAccelerated="true"
                  android:launchMode="singleInstance"
                  android:screenOrientation="locked"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
        </activity>
    </application>
</manifest>
